body{
  
    background-color:white;
    margin:0.1;
    /* font-family: 'Merriweather' ,serif; */
  
    }
    hr{
      border-style:none;
      border-top-style: dotted;
      width: 10%;
      border-width:0.5rem;
      border-color: grey;
      
    }
    img{
      position: relative left 30px;
      width:100px;
    }
  .top-container{
    background-color:#ceeace;
    
   /* width: 200px;*/
    
  }
  
  h1{
    
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color:#60b089;
    line-height: 1.5;
  }

  h2{
     font-family:Arial, Helvetica, sans-serif;
     font-size: 2.3rem;
     color:#5da482;

    
  }
  h3{
    font-family: 'Montserrat',sans-serif;
    color:#3D8361;

  }
  p{
    font-size: 1rem;
    

  }
  .middle-container{
    background-color:rgb(247, 255, 252);
   /* border:solid 20px;
   margin-left: 220px;
    width:200px;
    height: 200px;*/
  }
  .bottom-container{
    background-color:#60b089;
    height: 120px;
  }
  .cloud1{
    position: relative;
    top:60px;
    left:65%;
    height:20%;
    width:20%;
  }
  .cloud2{
    
   position:relative;
   left:20%;
   height:20%;
   width:20%;
   display:inline-block;
  }
   .mount{
    width:40%;
    height:10%;
    position: relative;
    left:30%;
    
   }
  .para{
    color:#3D8361;
    font-size: 1.5rem;
    line-height: 0;
  }
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:left;
    line-height:2;
  }
  .art-img{
    border-radius:45%;
    width:25%;

    float:right;
    margin-left:30px;

  }
  .code-img{
    width:25%;
  
    float: left;
    margin-right: 30px;
}
  .profile{
    width:50%;
    margin: 15px auto 90px auto;
    line-height:1;

    }
    .my-img{
      width:35%;
    }
    .footer-link:hover{
      margin-top: 10px;
       background-color:#123f5c ;
    }
    .btn {
      margin-bottom: 20px;
      background: #399467;
      background-image: -webkit-linear-gradient(top, #399467, #5fba8c);
      background-image: -moz-linear-gradient(top, #399467, #5fba8c);
      background-image: -ms-linear-gradient(top, #399467, #5fba8c);
      background-image: -o-linear-gradient(top, #399467, #5fba8c);
      background-image: linear-gradient(to bottom, #399467, #5fba8c);
      -webkit-border-radius: 14;
      -moz-border-radius: 14;
      border-radius: 14px;
      font-family: Georgia;
      color: #e7f5ee;
      font-size: 20px;
      padding: 5px 15px 10px 15px;
      text-decoration: none;
    }
    
    .btn:hover {
      background: #123f5c;
      text-decoration: none;
    }
    .contact-me{
      
      margin-bottom: 40px;
    }
    .footer-link{
      font-size: 20px;
      margin-left: 28px;
      color:white;
    }
    .me{
      font-size: 20px;
    }